---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="h-full flex flex-col bg-black text-zinc-100 font-sans antialiased selection:bg-white selection:text-black">
    <Header />
    <main class="flex-grow max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>